.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter-bar {
  flex-direction: row;
  width: 100%;

  .search {
    width: 40%;
  }
}

.bibliotheque {
  background-color: aqua;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

// .bibliotheque {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
//   gap: 20px;
//   padding: 20px;
// }

@media (max-width: 600px) {
  .bibliotheque {
    grid-template-columns: 1fr;
  }
}
