@import "variables_mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora";
  font-size: $principal-font-size;
  background-color: $body-background-color;
}

header {
  background-color: $header-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  position: relative;
  height: 120px;
  overflow: visible;
}

.logo {
  max-height: 210px;
  position: absolute;
  left: 2px;
  top: -7px;
}

.menu {
  flex-grow: 1;
  ul {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  li {
    margin: 0 15px;
  }
  a {
    text-decoration: none;
    color: #a27b5c;
    font-weight: bold;
  }
}

.connexion {
  @include button-styles($button-bg-color, (10px, 15px));
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;

  h1 {
    text-align: center;
    font-family: "Almendra";
    font-size: 60px;
    color: #2f3b3b;
    margin-top: 100px;
  }
}

section {
  display: flex;
  justify-content: center;
  p {
    width: 80%;
    height: auto;
    border: solid 3px #7a5c45;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #e2d6cc;
    color: #7a5c45;
    text-align: justify;
    padding: 20px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.card {
  border: solid 2px #7a5c45;
  background-color: #e2d6cc;
  color: #161b1c;
  border-radius: 20px;
  padding: 20px;
  width: 30%;

  h3 {
    color: #3f4e4f;
    font-size: 3vh;
    text-align: end;
  }

  h4 {
    color: #3f4e4f;
  }

  .couverture {
    height: 10em;
    width: 30em;

    img {
      max-height: 100%;
      width: auto;
    }
  }

  .commentaire {
    p {
      border: solid color #7a5c45;
      background-color: #e2d6cc;
      color: #161b1c;
      border-radius: 20px;
      padding: 20px;
      width: auto;
      height: auto;
    }
  }
}

.button {
  @include button-styles($button-bg-color, (10px, 15px));
}

#buttons {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #2f3b3b;
  color: #a27b5c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

// --------page wishlist--------------//

.favoris {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
}

.cardfavoris {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: solid 2px #7a5c45;
  background-color: #e2d6cc;
}

.imagefavoris {
  width: 8em;
  height: 8em;
  padding: 10px;

  img {
    max-height: 100%;
    width: auto;
  }
}

.iconesupp {
  padding-right: 10px;
}

//------------Media Queries-------------//
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    height: auto;
  }

  .menu {
    margin: 10px 0;
  }

  .menu ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu li {
    margin: 5px 0;
  }

  .logo {
    position: relative;
    max-height: 100px;
    top: 0;
  }
}
