body {
  font-family: Lora;
  font-size: 2.5vh;
  background-color: #f6f2ef;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2f3b3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  position: relative;
  height: 90px;
  overflow: visible;
}

.logo {
  max-height: 210px;
  position: absolute;
  left: 2px;
  top: -7px;
}

.menu {
  flex-grow: 1;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #a27b5c;
  font-weight: bold;
}

.connexion {
  padding: 10px 15px;
  background-color: #a27b5c;
  color: #f6f2ef;
  border: solid 2px #392b20;
  border-radius: 10px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  font-family: "Almendra";
  font-size: 60px;
  color: #2f3b3b;
  margin: 5%;
}

section {
  display: flex;
  justify-content: center;
}
section p {
  width: 80%;
  height: auto;
  border: solid 3px #7a5c45;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #e2d6cc;
  color: #7a5c45;
  text-align: justify;
  padding: 20px;
}

.button {
  background-color: #a27b5c;
  color: #f6f2ef;
  border: solid 1px #392b20;
  border-radius: 10px;
  vertical-align: middle;
  height: 40px;
  width: 130px;
  margin: 10px;
}

#buttons {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #2f3b3b;
  color: #a27b5c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* ---------------------------Style pour le formulaire-----------------------------------*/
.formulaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e2d6cc;

  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.formulaire form {
  width: 100%;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #2f3b3b;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="confirmpassword"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #e2d6cc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="confirmpassword"]:focus {
  border-color: #2f3b3b;
  outline: none;
}

.formulaire button[type="submit"] {
  background-color: #a27b5c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}

.formulaire button[type="submit"]:hover {
  background-color: #7a5c45;
}

/* ------------------------------------------------------------------------- */
.lecture-en-cours {
  display: flex;
  flex-direction: column;
  background-color: #161b1c;
  width: 100%;
}

h2 {
  background-color: antiquewhite;
  color: #2f3b3b;
  font-family: "Almendra";
  align-items: center;
}

.couverture {
  height: 10em;
  width: 30em;
}

.couverture > img {
  max-height: 100%;
  width: auto;
}

.commentaire > p {
  border: solid color #7a5c45;
  background-color: #e2d6cc;
  color: #161b1c;
  border-radius: 20px;
  padding: 20px;
  height: 10em;
  width: 30em;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card1 {
  border: solid color #7a5c45;
  background-color: #e2d6cc;
  color: #161b1c;
  border-radius: 20px;
  padding: 20px;
  height: fit-content;
  width: fit-content;
}

.card2 {
  border: solid color #7a5c45;
  background-color: #e2d6cc;
  color: #161b1c;
  border-radius: 20px;
  padding: 20px;
  height: fit-content;
  width: fit-content;
}

/* ----------------------media queries-------------------------------- */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    height: auto;
  }

  .menu {
    margin: 10px 0;
  }

  .menu ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu li {
    margin: 5px 0;
  }

  .logo {
    position: relative;
    max-height: 60px;
    top: 0;
  }
}
