* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora";
  font-size: 2.5vh;
  background-color: #f6f2ef;
}

header {
  background-color: #2f3b3b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  height: 120px;
  overflow: visible;
}

.logo {
  max-height: 210px;
  position: absolute;
  left: 2px;
  top: -7px;
}

.menu {
  flex-grow: 1;
}
.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.menu li {
  margin: 0 15px;
}
.menu a {
  text-decoration: none;
  color: #a27b5c;
  font-weight: bold;
}

.connexion {
  background-color: #a27b5c;
  padding: 10px, 15px;
  color: #f6f2ef;
  border: solid 1px #392b20;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  vertical-align: middle;
  cursor: pointer;
}
.connexion:hover {
  background-color: #81624a;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}
main h1 {
  text-align: center;
  font-family: "Almendra";
  font-size: 60px;
  color: #2f3b3b;
  margin-top: 100px;
}

section {
  display: flex;
  justify-content: center;
}
section p {
  width: 80%;
  height: auto;
  border: solid 3px #7a5c45;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: #e2d6cc;
  color: #7a5c45;
  text-align: justify;
  padding: 20px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.cardadd {
  display: flex;
  flex-direction: column;
  border: solid 2px #7a5c45;
  background-color: #e2d6cc;
  color: #161b1c;
  border-radius: 20px;
  padding: 20px;
  width: 30%;
}
.cardadd h3 {
  text-align: center;
}
.cardadd p {
  font-size: 16vh;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #161b1c;
}

.card {
  border: solid 2px #7a5c45;
  background-color: #e2d6cc;
  color: #161b1c;
  border-radius: 20px;
  padding: 20px;
  width: 30%;
}
.card h3 {
  color: #3f4e4f;
  font-size: 3vh;
  text-align: end;
}
.card h4 {
  color: #3f4e4f;
}
.card .icones {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.card .wraph4 {
  display: flex;
}
.card .wraph4 h4 {
  padding: 15px;
}
.card .couverture {
  height: 10em;
  width: 30em;
}
.card .couverture img {
  max-height: 100%;
  width: auto;
}
.card .commentaire p {
  border: solid color #7a5c45;
  background-color: #e2d6cc;
  color: #161b1c;
  border-radius: 20px;
  padding: 20px;
  width: auto;
  height: auto;
}

.button {
  background-color: #a27b5c;
  padding: 10px, 15px;
  color: #f6f2ef;
  border: solid 1px #392b20;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  vertical-align: middle;
  cursor: pointer;
}
.button:hover {
  background-color: #81624a;
}

#buttons {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #2f3b3b;
  color: #a27b5c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    height: auto;
  }
  .menu {
    margin: 10px 0;
  }
  .menu ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu li {
    margin: 5px 0;
  }
  .logo {
    position: relative;
    max-height: 100px;
    top: 0;
  }
}/*# sourceMappingURL=style.css.map */