.currentlyReading {
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2 {
  color: #2f3b3b;
  font-family: "Almendra";
  align-items: center;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
}

.lastAdd {
  display: flex;
  flex-direction: column;
  width: 100%;
}
